body
{
    background:
        linear-gradient(rgba(248, 249, 250, 0.20), rgba(248, 249, 250, 0.80)),
        url("https://phunugioi.com/wp-content/uploads/2020/10/hinh-anh-may-bay.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Noto Sans', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1080px;
    background-color: rgba(255,255,255,0.95);
    border-radius: 10px;
    padding : 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

h2
{
    position: relative;
    padding-bottom: 15px;
    font-size: xx-large;
    color: #A0522D;
    font-weight: bolder;
}

h2::after
{
    content : '';
    position: absolute;
    bottom: 0;
    left : 50%;
    transform: translateX(-50%);
    width : 80px;
    height : 4px;
    background : linear-gradient(to right, #CD853F, #CDC8B1);
    border-radius: 2px;
}

.card
{
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover
{
    transform : translateY(-4px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.btn-primary {
    background: linear-gradient(135deg, #CD853F 0%, #A0522D 100%);
}

.btn-primary:hover {
    background: linear-gradient(135deg, #8B4513 0%, #8B4513 100%);
    box-shadow: 0 5px 15px rgba(52, 152, 219, 0.3);
}

#statusFilterCard
{
    background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
    border-left: 4px solid #F4A460;
}

.form-check-input:checked {
    background-color: #CC9933;
    border-color: #CC9933;
}

/* Nếu bạn dùng table trong flightsContainer */
table {
    width: 100%;
    border-collapse: separate;
    margin-top: 20px;
    border-color: gray;
}

/* Tiêu đề bảng */
table thead th {
    background: linear-gradient(135deg, #FFEBCD 0%, #EECBAD 100%);
    color: white;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #CD853F;
    position: relative;
}


/* Nội dung ô bảng */
table tbody td {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
}