name: Build and Deploy to Server

on:
  push:
    branches: [ "duyab" ] # Chạy khi push vào nhánh main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/airlab:latest

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Remote Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            # Các lệnh này sẽ chạy trên máy ảo của thầy
            # 1. Đăng nhập Docker Hub để kéo ảnh private (nếu cần)
            echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
            
            # 2. Kéo ảnh mới nhất về
            docker pull ${{ secrets.DOCKER_USERNAME }}/airlab-backend:latest
            
            # 3. Dừng container cũ và chạy lại container mới
            docker stop airlab-app || true
            docker rm airlab-app || true
            
            # 4. Chạy lệnh Docker run (Giống hệt cấu hình cũ của bạn nhưng dùng Image trên mạng)
            docker run -d \
              --name airlab-app \
              --restart always \
              -p 80:8080 \
              -e SPRING_DATASOURCE_URL="jdbc:postgresql://dpg-d5nikj6mcj7s73cmuke0-a.singapore-postgres.render.com:5432/my_spring_db_kzpc?sslmode=require" \
              -e SPRING_DATASOURCE_USERNAME="my_spring_db_kzpc_user" \
              -e SPRING_DATASOURCE_PASSWORD="Fwt5R1ELLvDIw7UJVqiet7bRNHAIXPys" \
              -e SPRING_JPA_PROPERTIES_HIBERNATE_DIALECT="org.hibernate.dialect.PostgreSQLDialect" \
              -e SPRING_JPA_HIBERNATE_DDL_AUTO="update" \
              -e API_KEY_AIRLABS="f562826f-8bc5-491e-af66-7014e9dc2458" \
              ${{ secrets.DOCKER_USERNAME }}/airlab-backend:latest